<html>

<head>
<meta charset="UTF-8">
<title>Registro</title>
<link rel="stylesheet" type="text/css" href="/css/registro.css">
</head>

<body>

	<div class="formulario">
		<h1>Registrate aquí</h1>
		<form>
			<input class="campo" type="text" placeholder="Nombre"><br>
			
			<input class="campo" type="email" placeholder="Correo"><br>
			
			<input class="campo" type="password" placeholder="Contraseña"><br>
			
			<input class="campo" type="password" placeholder="Repetir contraseña"><br>
			
			<input class="boton" type="submit" value="Registrarse"><br>
			
		</form>
	</div>

</body>


</html>